@import "./style/variable";

body {
  background: $mainBg;
}

.button {
  color: yellow;
  font-size: 1.2rem;
  background: $buttonBg;
  text-decoration: none;
  display: inline-block;
  border: none;
  border-radius: 20px;
  width: max-content;
  padding: 10px 20px;
  cursor: pointer;
}

.wrapper {
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: white;

  h1 {
    margin: 0;
    font-size: 2.5rem;
  }
}

.formField {
  width: 400px;

  input {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 1rem;

    &:focus {
      outline: 2px solid yellow;
    }
  }

  .error {
    display: block;
    color: cyan;
    margin-top: 5px;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat($side, 1fr);
  grid-template-rows: repeat($side, 1fr);

  width: 500px;
  aspect-ratio: 1 / 1;
  margin: auto;
  border: 1px solid $borderColor;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $borderColor;
  font-weight: bold;
  font-size: x-large;
  cursor: pointer;

  &.x {
    color: red;
  }

  &.o {
    color: blue;
  }

  &.highlight {
    background-color: yellow;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $overlayBgColor;

  .modal {
    background-color: white;
    width: 300px;
    margin: auto;
    padding: 20px;
  }
}
